In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#sns.set()
#pd.set_option('display.max_columns', None)

In [3]:
data_train =pd.read_excel("Desktop/Flight_Ticket_Participant_Datasets/Data_Train.xlsx")
data_test= pd.read_excel("Desktop/Flight_Ticket_Participant_Datasets/Test_set.xlsx")

In [4]:
data_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
data_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [6]:
data_train.shape

(10683, 11)

In [7]:
data_test.shape

(2671, 10)

In [8]:
data = data_train.append(data_test)

C:\Users\Monika\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [9]:
data.head()

,Additional_Info,Airline,Arrival_Time,Date_of_Journey,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops
0,No info,IndiGo,01:10 22 Mar,24/03/2019,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,non-stop
1,No info,Air India,13:15,1/05/2019,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,2 stops
2,No info,Jet Airways,04:25 10 Jun,9/06/2019,09:25,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,2 stops
3,No info,IndiGo,23:30,12/05/2019,18:05,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,1 stop
4,No info,IndiGo,21:35,01/03/2019,16:50,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1 stop

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
Additional_Info    13354 non-null object
Airline            13354 non-null object
Arrival_Time       13354 non-null object
Date_of_Journey    13354 non-null object
Dep_Time           13354 non-null object
Destination        13354 non-null object
Duration           13354 non-null object
Price              10683 non-null float64
Route              13353 non-null object
Source             13354 non-null object
Total_Stops        13353 non-null object
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [11]:
data = data.drop(['Arrival_Time','Additional_Info'],axis = 1)

In [12]:
data.head()

,Airline,Date_of_Journey,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops
0,IndiGo,24/03/2019,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,non-stop
1,Air India,1/05/2019,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,2 stops
2,Jet Airways,9/06/2019,09:25,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,2 stops
3,IndiGo,12/05/2019,18:05,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,1 stop
4,IndiGo,01/03/2019,16:50,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1 stop

In [13]:
data['Journey_Date'] = data['Date_of_Journey'].str.split('/').str[0]
data['Journey_Month'] = data['Date_of_Journey'].str.split('/').str[1]
data['Journey_Year'] = data['Date_of_Journey'].str.split('/').str[2]
data['Journey_Date'] = data['Journey_Date'].astype(int)
data['Journey_Month'] = data['Journey_Month'].astype(int)
data['Journey_Year'] = data['Journey_Year'].astype(int)

In [14]:
data['Dep_Hour'] = data['Dep_Time'].str.split(':').str[0]
data['Dep_Minute'] = data['Dep_Time'].str.split(':').str[1]
data['Dep_Hour'] = data['Dep_Hour'].astype(int)
data['Dep_Minute'] = data['Dep_Minute'].astype(int)

In [15]:
data = data.drop(['Date_of_Journey','Dep_Time'],axis = 1)

In [16]:
data_1 = pd.get_dummies(data['Total_Stops'],drop_first=True)

In [17]:
data = pd.concat([data,data_1],axis=1)

In [18]:
data = data.drop(['Total_Stops'],axis = 1)

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Airline']=le.fit_transform(data['Airline'])
data['Destination']=le.fit_transform(data['Destination'])
data['Source']=le.fit_transform(data['Source'])

In [20]:
data.head()

,Airline,Destination,Duration,Price,Route,Source,Journey_Date,Journey_Month,Journey_Year,Dep_Hour,Dep_Minute,2 stops,3 stops,4 stops,non-stop
0,3,5,2h 50m,3897.0,BLR → DEL,0,24,3,2019,22,20,0,0,0,1
1,1,0,7h 25m,7662.0,CCU → IXR → BBI → BLR,3,1,5,2019,5,50,1,0,0,0
2,4,1,19h,13882.0,DEL → LKO → BOM → COK,2,9,6,2019,9,25,1,0,0,0
3,3,0,5h 25m,6218.0,CCU → NAG → BLR,3,12,5,2019,18,5,0,0,0,0
4,3,5,4h 45m,13302.0,BLR → NAG → DEL,0,1,3,2019,16,50,0,0,0,0

In [21]:
data['Duration'] = data['Duration'].replace("h",'', regex=True)
data['Duration'] = data['Duration'].replace("m",'', regex=True)
data['Duration_Hour'] = data['Duration'].str.split(' ').str[0]
data['Duration_Minute'] = data['Duration'].str.split(' ').str[1]

In [22]:
data[['Duration_Hour','Duration_Minute']] = data[['Duration_Hour','Duration_Minute']].fillna(0)
data['Duration_Hour'] = data['Duration_Hour'].astype(int)
data['Duration_Minute'] = data['Duration_Minute'].astype(int)

In [23]:
data = data.drop(['Duration'],axis = 1)

In [24]:
data_2 = pd.get_dummies(data['Route'],drop_first=True)
data = data.drop(['Route'],axis = 1)
data = pd.concat([data,data_2],axis=1)

In [25]:
data.head()

,Airline,Destination,Price,Source,Journey_Date,Journey_Month,Journey_Year,Dep_Hour,Dep_Minute,2 stops,...,DEL → LKO → BOM → COK,DEL → LKO → COK,DEL → MAA → BOM → COK,DEL → MAA → COK,DEL → NAG → BOM → COK,DEL → PNQ → COK,DEL → RPR → NAG → BOM → COK,DEL → TRV → COK,DEL → UDR → BOM → COK,MAA → CCU
0,3,5,3897.0,0,24,3,2019,22,20,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,7662.0,3,1,5,2019,5,50,1,...,0,0,0,0,0,0,0,0,0,0
2,4,1,13882.0,2,9,6,2019,9,25,1,...,1,0,0,0,0,0,0,0,0,0
3,3,0,6218.0,3,12,5,2019,18,5,0,...,0,0,0,0,0,0,0,0,0,0
4,3,5,13302.0,0,1,3,2019,16,50,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
data_train = data[0:10683]
data_test = data[10683:]

In [27]:
data_test = data_test.drop(['Price'],axis = 1)

In [28]:
x = data_train.drop(['Price'],axis = 1)

In [29]:
y= data_train['Price']

In [30]:
x.head()

,Airline,Destination,Source,Journey_Date,Journey_Month,Journey_Year,Dep_Hour,Dep_Minute,2 stops,3 stops,...,DEL → LKO → BOM → COK,DEL → LKO → COK,DEL → MAA → BOM → COK,DEL → MAA → COK,DEL → NAG → BOM → COK,DEL → PNQ → COK,DEL → RPR → NAG → BOM → COK,DEL → TRV → COK,DEL → UDR → BOM → COK,MAA → CCU
0,3,5,0,24,3,2019,22,20,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,3,1,5,2019,5,50,1,0,...,0,0,0,0,0,0,0,0,0,0
2,4,1,2,9,6,2019,9,25,1,0,...,1,0,0,0,0,0,0,0,0,0
3,3,0,3,12,5,2019,18,5,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,5,0,1,3,2019,16,50,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X =sc.fit_transform(x)

In [32]:
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.20, random_state=42)

C:\Users\Monika\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [33]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [34]:
lr_pred = lr.predict(x_test)

In [35]:
from sklearn.metrics import mean_squared_error

In [36]:
mean_squared_error(y_test,lr_pred)

1.2309695957903616e+21

In [37]:
from sklearn.neighbors import KNeighborsRegressor
Knn = KNeighborsRegressor()
Knn.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [38]:
Knn_pred = Knn.predict(x_test)

In [39]:
Knn_score = Knn.score(x_test,y_test)

In [40]:
Knn_score

0.6150411612674469

In [41]:
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor(max_depth=6, n_estimators=2000,learning_rate=0.05)
gbr.fit(x_train,y_train)

C:\Users\Monika\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.05, loss='ls', max_depth=6, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=2000, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [42]:
gbr_pred = gbr.predict(x_train)

In [43]:
gbr.score(x_train,y_train)

0.9455268204153257

In [44]:
gbr.score

<bound method RegressorMixin.score of GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.05, loss='ls', max_depth=6, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=2000, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)>

In [45]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_train, gbr_pred)

1159547.114298484