In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_train =pd.read_excel("Desktop\Doctor_consultsion_fee_data\Final_Train.xlsx")
data_test =pd.read_excel("Desktop\Doctor_consultsion_fee_data\Final_Test.xlsx")

In [3]:
data = data_train.append(data_test)

C:\Users\Monika\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [4]:
data.head()

,Experience,Fees,Miscellaneous_Info,Place,Profile,Qualification,Rating
0,24 years experience,100.0,"100% 16 Feedback Kakkanad, Ernakulam","Kakkanad, Ernakulam",Homeopath,"BHMS, MD - Homeopathy",100%
1,12 years experience,350.0,"98% 76 Feedback Whitefield, Bangalore","Whitefield, Bangalore",Ayurveda,"BAMS, MD - Ayurveda Medicine",98%
2,9 years experience,300.0,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,"MBBS, MS - Otorhinolaryngology",NaN
3,12 years experience,250.0,"Bannerghatta Road, Bangalore ₹250 Available on...","Bannerghatta Road, Bangalore",Ayurveda,"BSc - Zoology, BAMS",NaN
4,20 years experience,250.0,"100% 4 Feedback Keelkattalai, Chennai","Keelkattalai, Chennai",Ayurveda,BAMS,100%

In [5]:
data.shape

(7948, 7)

In [6]:
data.isnull().sum()

Experience               0
Fees                  1987
Miscellaneous_Info    3454
Place                   31
Profile                  0
Qualification            0
Rating                4392
dtype: int64

In [7]:
data["Experience"] = data["Experience"].str.split()
data["Experience"] = data["Experience"].str[0].astype("int")

In [8]:
data["Place"].fillna("Unknown,Unknown",inplace=True)
data["Place"] = data["Place"].str.split(",")
data["City"] = data["Place"].str[-1]
data["Place"] = data["Place"].str[0]

In [9]:
data['Rating'].fillna('0',inplace = True)
data['Rating'] = data['Rating'].replace("%",'', regex=True)
data['Rating'] = data['Rating'].astype(int)

In [10]:
data['Qual_1'] = data['Qualification'].str.split(',').str[0]
data['Qual_2'] = data['Qualification'].str.split(',').str[1]
data['Qual_3'] = data['Qualification'].str.split(',').str[2]
data['Qual_1'].fillna("0",inplace = True)
data['Qual_2'].fillna("0",inplace = True)
data['Qual_3'].fillna("0",inplace = True)

In [11]:
data.head()

,Experience,Fees,Miscellaneous_Info,Place,Profile,Qualification,Rating,City,Qual_1,Qual_2,Qual_3
0,24,100.0,"100% 16 Feedback Kakkanad, Ernakulam",Kakkanad,Homeopath,"BHMS, MD - Homeopathy",100,Ernakulam,BHMS,MD - Homeopathy,0
1,12,350.0,"98% 76 Feedback Whitefield, Bangalore",Whitefield,Ayurveda,"BAMS, MD - Ayurveda Medicine",98,Bangalore,BAMS,MD - Ayurveda Medicine,0
2,9,300.0,NaN,Mathikere - BEL,ENT Specialist,"MBBS, MS - Otorhinolaryngology",0,Bangalore,MBBS,MS - Otorhinolaryngology,0
3,12,250.0,"Bannerghatta Road, Bangalore ₹250 Available on...",Bannerghatta Road,Ayurveda,"BSc - Zoology, BAMS",0,Bangalore,BSc - Zoology,BAMS,0
4,20,250.0,"100% 4 Feedback Keelkattalai, Chennai",Keelkattalai,Ayurveda,BAMS,100,Chennai,BAMS,0,0

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7948 entries, 0 to 1986
Data columns (total 11 columns):
Experience            7948 non-null int32
Fees                  5961 non-null float64
Miscellaneous_Info    4494 non-null object
Place                 7948 non-null object
Profile               7948 non-null object
Qualification         7948 non-null object
Rating                7948 non-null int32
City                  7948 non-null object
Qual_1                7948 non-null object
Qual_2                7948 non-null object
Qual_3                7948 non-null object
dtypes: float64(1), int32(2), object(8)
memory usage: 683.0+ KB

In [13]:
data= data.drop(data[['Miscellaneous_Info','Place','Qualification']], axis=1)

In [14]:
data = pd.get_dummies(data,columns=["City","Profile"],prefix=["City","Profile"])

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data["Qual_1"] = le.fit_transform(data["Qual_1"])
data["Qual_2"] = le.fit_transform(data["Qual_2"])
data["Qual_3"] = le.fit_transform(data["Qual_3"])

In [16]:
data.head()

,Experience,Fees,Rating,Qual_1,Qual_2,Qual_3,City_ Bangalore,City_ Chennai,City_ Coimbatore,City_ Delhi,...,City_ Mumbai,City_ Thiruvananthapuram,City_Unknown,City_e,Profile_Ayurveda,Profile_Dentist,Profile_Dermatologists,Profile_ENT Specialist,Profile_General Medicine,Profile_Homeopath
0,24,100.0,100,8,293,480,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,12,350.0,98,5,282,480,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,9,300.0,0,101,383,480,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,12,250.0,0,14,10,480,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,20,250.0,100,5,494,480,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [17]:
data_train = data[0:5961]
data_test = data[5961:]
data_test = data_test.drop(['Fees'], axis =1)

In [18]:
X = data_train.drop("Fees",axis=1)
y = data_train["Fees"]

In [19]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(X)

In [20]:
X = pd.DataFrame(x, columns=X.columns)

In [21]:
X.head()

,Experience,Rating,Qual_1,Qual_2,Qual_3,City_ Bangalore,City_ Chennai,City_ Coimbatore,City_ Delhi,City_ Ernakulam,...,City_ Mumbai,City_ Thiruvananthapuram,City_Unknown,City_e,Profile_Ayurveda,Profile_Dentist,Profile_Dermatologists,Profile_ENT Specialist,Profile_General Medicine,Profile_Homeopath
0,0.600979,1.220669,-1.031272,-0.270144,0.434675,-0.517193,-0.409207,-0.199424,-0.498112,6.161232,...,-0.507015,-0.120989,-0.064897,-0.012953,-0.389723,-0.553255,-0.458109,-0.372984,-0.494962,2.463975
1,-0.476040,1.178419,-1.090682,-0.342475,0.434675,1.933513,-0.409207,-0.199424,-0.498112,-0.162305,...,-0.507015,-0.120989,-0.064897,-0.012953,2.565925,-0.553255,-0.458109,-0.372984,-0.494962,-0.405848
2,-0.745295,-0.891845,0.810421,0.321659,0.434675,1.933513,-0.409207,-0.199424,-0.498112,-0.162305,...,-0.507015,-0.120989,-0.064897,-0.012953,-0.389723,-0.553255,-0.458109,2.681079,-0.494962,-0.405848
3,-0.476040,-0.891845,-0.912453,-2.131035,0.434675,1.933513,-0.409207,-0.199424,-0.498112,-0.162305,...,-0.507015,-0.120989,-0.064897,-0.012953,2.565925,-0.553255,-0.458109,-0.372984,-0.494962,-0.405848
4,0.241972,1.220669,-1.090682,1.051549,0.434675,-0.517193,2.443753,-0.199424,-0.498112,-0.162305,...,-0.507015,-0.120989,-0.064897,-0.012953,2.565925,-0.553255,-0.458109,-0.372984,-0.494962,-0.405848

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [23]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((4470, 21), (4470,), (1491, 21), (1491,))

In [24]:
X_train.columns

Index(['Experience', 'Rating', 'Qual_1', 'Qual_2', 'Qual_3', 'City_ Bangalore',
       'City_ Chennai', 'City_ Coimbatore', 'City_ Delhi', 'City_ Ernakulam',
       'City_ Hyderabad', 'City_ Mumbai', 'City_ Thiruvananthapuram',
       'City_Unknown', 'City_e', 'Profile_Ayurveda', 'Profile_Dentist',
       'Profile_Dermatologists', 'Profile_ENT Specialist',
       'Profile_General Medicine', 'Profile_Homeopath'],
      dtype='object')

In [31]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE: %f" % (rmse))

RMSE: 183.526444

In [32]:
import xgboost as xgb
data_dmatrix = xgb.DMatrix(data=x,label=y)

C:\Users\Monika\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\Monika\Anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

In [33]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', learning_rate = 0.1, max_depth = 5, n_estimators = 10)

xg_reg.fit(X_train,y_train)
pred = xg_reg.predict(X_test)

[18:34:48] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [34]:
rmse = np.sqrt(mean_squared_error(y_test, pred))
print("RMSE: %f" % (rmse))

RMSE: 205.227381